@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  display: grid;
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
  text-align: center;
}

.grid {
  width: 100%;
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  margin: auto;
  border: 22px solid
    linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.grid div {
  height: 40px;
  width: 40px;
  border-radius: 5%;
  background: linear-gradient(225deg, #f8f8f8, #d1d1d1);
  box-shadow: -3px 3px 7px #b7b7b7, 3px -3px 7px #ffffff;
  display: grid;
}

.bomb {
  display: flex;
  justify-content: center;
  align-items: center;
}

div .checked {
  display: grid;
  border-radius: 5%;
  background: #e8e8e8;
  box-shadow: inset -3px 3px 7px #b7b7b7, inset 3px -3px 7px #ffffff;
}

div .checked .bomb {
  z-index: 45;
}
